@import url(https://fonts.googleapis.com/css?family=Ubuntu);


body {
	margin:0;
	padding: 0;
	border-top: 3px solid #c0392b;
	font-family: Ubuntu;
	color:#2c3e50;
}

.form-input {
	border:none;
	padding: 5px;
	border:1px solid #bababa;
	width: 95%;
	resize: none;
	margin-left:2.5%;
	margin-top: 5px;
}

.notification {
    width:80%;
    margin-left:8%;
    background-color:#c0392b;
    color:white;
    padding:5px;
    padding-left:15px;
}

.none-border {
	border:none;
	padding: 6px;
	background-color: #e0e8e0;
	margin-left: 5px;
}

footer {
	margin-top: 50px;
	text-align: center;
	font-size:10px;
}

.date {
	margin-top: 20px;
}

.form-field {
	margin-top: 5px;
}

label {
	margin-left:2.5%;

}

.sub-header {
	margin-left: 2.5%;
}

.button {
	border:none;
	background-color: #c0392b;
	color: white;
	padding: 6px;
	margin-top: 10px;
	font-weight: bolder;
	margin-right:7px;
}

.post-form {
	border-top:2px solid #003366;
	padding: 10px;
	margin-top: 50px;
}

.post {
	padding: 10px;
	font-size:13px;
	border-left:2px solid #003366;
	margin-top: 25px;
}

#container {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 1%;
}


.pull-left {
	float:left;
}

.pull-right {
	float:right;
}

.clearfix {
	clear:both;
}